<%- include('Partials/head') %>
<body>
  <%- include('Partials/navbar') %>
  <div class="container">
    <h1>Sorry We could not find the subreddit <%= subreddit %></h1>
  </div>
</body>
<%- include('Partials/footer') %>
