<%- include('Partials/head') %> <%- include('Partials/navbar') %>
<div class="container">
  <h1>The Home page!</h1>
  <p>
    Hello there! I'm <b>Prathik Prakash</b>, welcome to my first backend Project
    made using HTML, CSS, JavaScript, Node, Express etc.
  </p>
  <p>This marks the beginning of the big world that opens upto me.</p>
</div>
<%- include('Partials/footer') %>
